<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/usersStyle.css" th::href="@{/css/usersStyle.css}">
    <link rel="stylesheet" type="text/css" href="/css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main>
    <section th:insert="parts/userhead :: userhead">
    </section>
    <div class="ui-container">
        <div class="courses-header">
            <div class="faculty-blank courses-blank">
                <h1>Курсы по иностранным языкам</h1>
            </div>
        </div>
        <div style="margin-bottom: 44px;">
            <div>
                <select id = "courseChoice" class="filter-component" name ="filter">
                    <option>Выберите язык</option>
                    <option th:value="@{http://localhost:8080/courses}">Все языки</option>
                    <option th:value="@{http://localhost:8080/courses/eng}">Английский</option>
                    <option th:value="@{http://localhost:8080/courses/germ}">Немецкий</option>
                    <option th:value="@{http://localhost:8080/courses/french}">Французский</option>
                </select>
                &nbsp;&nbsp;&nbsp;
                <input type="text" class="filter-component" placeholder="Наименование курса">
                <button class="filter-button">
                    <span>
                        Найти
                    </span>
                </button>
            </div>
            <div style="position: relative; display: grid; grid-template-columns: repeat(2,1fr);">
                    <div class="list-card" th:each="course : ${courses}">
                        <form th:action="@{http://localhost:8080/user/order}" method="get" th:object="${course}">
                            <div style="display: flex;">
                                <input type="hidden" th:value="${course.id}" name="id" />
                                <div class="card-title">Наименование</div>
                                <div class="card-course">
                                    <p th:text=" ${course.name}"></p>
                                </div>
                            </div>
                        <div style="display: flex;">
                            <div class="card-title">Язык</div>
                            <div class="card-course">
                                <p th:text=" ${course.language}"></p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="card-title">Цена</div>
                            <div class="card-course">
                                <p th:text="${course.price}"></p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="card-title">Количество мест</div>
                            <div class="card-course">
                                <p style="width: 20px; margin: 0" th:text="${course.seats}"></p>
                                из&nbsp;
                                <p style="width: 20px; margin: 0" th:text="${course.freeseats}"></p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="card-title">Дата начала</div>
                            <div class="card-course">
                                <p th:text="${course.begindate}"></p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="card-title">Дата окончания</div>
                            <div class="card-course">
                                <p th:text="${course.enddate}"></p>
                            </div>
                        </div>
                            <button th:if="${course.freeseats} == 0" disabled class="filter-button" style="width: 25%">
                                <span style="font-weight: 500">
                                    Записаться</span>
                            </button>
                            <button th:if="${course.freeseats} != 0" class="filter-button" style="width: 25%">
                                <span style="font-weight: 500">
                                    Записаться</span>
                            </button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:insert="parts/footer :: footer"></footer>
</html>

<script>
    document.getElementById("courseChoice").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>