<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<header th:insert="parts/headerteg :: headerreg"></header>
<div>
    <div style="padding-top: 0; padding-bottom: 10px" class="sign-in-box">
        <div class="sign-in-container">
            <div class="sign-in-container2">
                <div>
                    <p class="p-logo"></p>
                    <p class="p-logo"></p>
                    <p style="font-size: 2rem">MUR School</p>
                </div>
                <!--/*@thymesVar id="user" type="com.golub.school.controllers.RegistrationController"*/-->
                <form class="form-sign-group" th:action="@{/reg}" method="post" th:object="${user}">
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{name}" maxlength="60" type="text" spellcheck="false" placeholder="Имя">
                    </span>
                    <span th:errorclass="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <br>
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{surname}" maxlength="60" type="text" spellcheck="false" placeholder="Фамилия">
                    </span>
                    <span th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"></span>
                    <br>
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{username}" type="email" spellcheck="false" placeholder="E-mail">
                    </span>
                    <span th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></span>
                    <br>
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{telephone}" type="tel" spellcheck="false" placeholder="Телефон">
                    </span>
                    <span th:if="${#fields.hasErrors('telephone')}" th:errorclass="error" th:errors="*{telephone}"></span>
                    <br>
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{password}" type="password" spellcheck="false" placeholder="Пароль">
                    </span>
                    <span th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>
                    <br>
                    <span class="wrapper-logpas">
                        <input class="form-sign-input" th:field="*{passwordConfirm}" type="password" spellcheck="false" placeholder="Подтвердите пароль">
                    </span>
                    <div style="text-align: left" th:if="${#fields.hasErrors('global')}">
                        <span class="error" th:each="err : ${#fields.errors('global')}" th:text="${err}"></span>
                    </div>

                    <br>
                    <button class="form-sign-button">
                        <span>
                            Зарегистрироваться
                        </span>
                    </button>
                </form>
                <div class="sign-with">
                    <p class="or-divider">или вы можете войти с помощью</p>
                    <div>
                        <a href="#" data-icon="google-c" class="with-link">
                            <svg viewBox="0 0 24 24" width="1em" height="1em" class="with-icon">
                                <path fill-rule="evenodd" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm.044-5.213c2.445 0 4.267-1.551 4.556-3.781v-1.891h-4.519v1.89h2.602a2.893 2.893 0 0 1-2.724 1.93c-1.194 0-2.677-1.1-2.677-2.843 0-1.621 1.161-2.876 2.677-2.876.739 0 1.413.279 1.922.736l1.399-1.376a4.744 4.744 0 1 0-3.236 8.212z"></path>
                            </svg>
                        </a>
                        <a href="#" data-icon="facebook" class="with-link">
                            <svg viewBox="0 0 24 24" width="1em" height="1em" class="with-icon">
                                <path fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm2.52-14.923v1.686h-1.004c-.366 0-.613.077-.74.23-.128.153-.192.383-.192.69v1.207h1.871l-.249 1.891h-1.622v4.849h-1.955V12.78H9v-1.89h1.629V9.497c0-.792.221-1.407.664-1.843.443-.437 1.033-.655 1.77-.655.626 0 1.111.026 1.456.077z"></path>                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="parts/footer :: footer"></footer>
<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>