<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/usersStyle.css" th::href="@{/css/usersStyle.css}">
    <link rel="stylesheet" type="text/css" href="/css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main>
    <section th:insert="parts/userhead :: userhead">
    </section>
    <div class="container px-4 py-5">
        <div class="courses-header">
            <div class="faculty-blank courses-blank">
                <h2>Ваши курсы</h2>
            </div>
        </div>
        <div style="position: relative; display: grid; grid-template-columns: repeat(2,1fr); height: 80%">
            <div class="list-card" th:each="course : ${courses}">
                <form th:action="@{http://localhost:8080/user/cancel}" method="post" th:object="${course}">
                    <div style="display: flex;">
                        <input type="hidden" th:value="${course.id}" name="id" />
                        <div class="card-title">Наименование</div>
                        <div class="card-course">
                            <p th:text=" ${course.name}"></p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="card-title">Язык</div>
                        <div class="card-course">
                            <p th:text=" ${course.language}"></p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="card-title">Цена</div>
                        <div class="card-course">
                            <p th:text="${course.price}"></p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="card-title">Дата начала</div>
                        <div class="card-course">
                            <p th:text="${#dates.format(course.begindate, 'dd.MM.yyyy')}"></p>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="card-title">Дата окончания</div>
                        <div class="card-course">
                            <p th:text="${#dates.format(course.enddate, 'dd.MM.yyyy')}"></p>
                        </div>
                    </div>
                    <button th:if="${course.begindate <= #dates.createToday()}" class="filter-button" style="width: 25%">
                                <span style="font-weight: 500">Обучаться</span>
                    </button>
                    <button th:if="${course.begindate > #dates.createToday()}" class="filter-button" style="width: 25%">
                        <span style="font-weight: 500">Отменить курс</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:insert="parts/footer :: footer"></footer>
</html>