<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/usersStyle.css" th::href="@{/css/usersStyle.css}">
    <link rel="stylesheet" type="text/css" href="/css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main>
    <section th:insert="parts/userhead :: userhead">
    </section>
    <div>
        <header style="margin-left: 129px; font-size: 20px" data-media-query="not-mobile">
            <p>Ваши курсы</p>
        </header>
        <div style="padding-top: 0; padding-bottom: 10px" class="sign-in-box">
            <div class="sign-in-container">
                    <header class="teachlearn__content-header">
                        <div class="teachlearn__content-header-toolbar">
                            <span id="ember771" class="search-form ember-view teachlearn__search-form">
                                <div class="search-form__form">
                                    <div class="search-form__input-wrapper">
                                        <input class="search-form__input " placeholder="Название курса или ID" autocomplete="on" spellcheck="false" aria-label="Search" type="search">
                                        <button class="st-button_style_none search-form__reset" hidden="" type="button" data-ember-action="" data-ember-action-773="773">
                                            <span id="ember774" class="svg-icon close_icon svg-icon_inline ember-view"><svg xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="/static/frontend-build/icons.svg?1669127364#close"></use>
                                            </svg>
                                            </span>
                                        </button>
                                    </div>
                                    <button class="button_with-loader search-form__submit teachlearn__search-form-submit" type="button" data-ember-action="" data-ember-action-775="775">
                                        Искать
                                    </button>
                                </div>
                            </span>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:insert="parts/footer :: footer"></footer>
</html>