<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/usersStyle.css" th::href="@{/css/usersStyle.css}">
    <link rel="stylesheet" type="text/css" href="/css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main>
    <section th:if="${user_role=='user'}" th:insert="parts/userhead :: userhead">
    </section>
    <section th:if="${user_role=='admin'}" th:insert="parts/adminheader :: adminheader">
    </section>
    <div>
        <div style="padding-top: 0; padding-bottom: 10px" class="sign-in-box">
            <div class="sign-in-container">
                <div class="sign-in-container2">
                    <form th:action="@{/user/profile/edit/uploadImg}" method="post" enctype="multipart/form-data">
                        <div class="avatar-base">
                            <img class="avatar" th:src="${user_avatar}" alt="Avatar">
                            <div th:if="${editOrSave == 'edit'}" class="avatar-edit" style="width:35px;height:31px;right: 95px; top: 1px;">
                                <div>
                                    <label>
                                        <input accept="image/*" class="avatar-pict" id="avatar-picture" name="image" type="file">
                                        <img style="cursor: pointer" src="https://d35aaqx5ub95lt.cloudfront.net/images/profile/00e52dc386f5aeaef537e239c70739ab.svg">
                                    </label>
                                    <button id="avatar-click" style="visibility: hidden"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form th:if="${editOrSave == 'edit'}" class="form-sign-group" th:action="@{/user/profile/save}" method="post" th:object="${user}">
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{name}" maxlength="60" type="text" spellcheck="false" placeholder="Имя">
                            <span th:errorclass="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{surname}" maxlength="60" type="text" spellcheck="false" placeholder="Фамилия">
                            <span th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"></span>
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{username}" type="email" spellcheck="false" placeholder="E-mail">
                            <span th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></span>
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{telephone}" type="tel" spellcheck="false" placeholder="Телефон">
                            <span th:if="${#fields.hasErrors('telephone')}" th:errorclass="error" th:errors="*{telephone}"></span>
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{country}" type="text" spellcheck="false" placeholder="Страна">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{birthday}" type="date" spellcheck="false" placeholder="День рождения">
                            <span th:if="${#fields.hasErrors('birthday')}" th:errorclass="error" th:errors="*{birthday}"></span>
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{education}" type="text" spellcheck="false" placeholder="Образование">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" th:field="*{work}" type="text" spellcheck="false" placeholder="Место работы">
                        </span>

                        <br>
                        <button  class="form-sign-button">
                            <span>Сохранить</span>
                        </button>
                        <br>
                    </form>
                    <form th:if="${editOrSave == 'save'}" class="form-sign-group" th:action="@{/user/profile/edit}" method="post" th:object="${user}">
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{name}" maxlength="60" type="text" spellcheck="false" placeholder="Имя">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{surname}" maxlength="60" type="text" spellcheck="false" placeholder="Фамилия">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{username}" type="email" spellcheck="false" placeholder="E-mail">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{telephone}" type="tel" spellcheck="false" placeholder="Телефон">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{country}" type="text" spellcheck="false" placeholder="Страна">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{birthday}" type="date" spellcheck="false" placeholder="День рождения">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{education}" type="text" spellcheck="false" placeholder="Образование">
                        </span>
                        <br>
                        <span class="wrapper-logpas">
                            <input class="form-sign-input" readonly th:field="*{work}" type="text" spellcheck="false" placeholder="Место работы">
                        </span>

                        <br>
                        <button  class="form-sign-button">
                            <span>
                                Редактировать
                            </span>
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:insert="parts/footer :: footer"></footer>
</html>

<script>
    document.getElementById('avatar-picture').addEventListener('change', function(){
        if( this.value ){
            document.getElementById('avatar-click').click();
        }
    });
</script>