<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MUR School</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/usersStyle.css" th::href="@{/css/usersStyle.css}">
    <link rel="stylesheet" href="css/commonStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<main>
    <section th:if="${user_role=='user'}" th:insert="parts/userhead :: userhead">
    </section>
    <section th:if="${user_role=='anonymous'}" th:insert="parts/header-dark :: header-dark">
    </section>
    <section th:if="${user_role=='admin'}" th:insert="parts/adminheader :: adminheader">
    </section>
</main>
</body>
<footer th:insert="parts/footer :: footer"></footer>
</html>