<div th:fragment="headerreg" class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <p class="p-logo" style="color: #1e2d4c;">M</p>
            <p class="p-logo" style="color: #e6e6e6;">S</p>
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        </ul>
    </header>
</div>